[Unit]
Description=SHT35 Temperature/Humidity Logger
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/debian/sht35.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target


